<div class="restaurant-details" *ngIf="restaurant" @fadeInOut>
  <h2>{{ restaurant.name }} - {{ 'restaurant.details' | translate }}</h2>
  <p>{{ 'restaurant.cuisine' | translate }}: {{ restaurant.cuisine }}</p>

  <div *ngIf="restaurant.reviews && restaurant.reviews.length > 0">
    <h3>{{ 'restaurant.reviews' | translate }}</h3>
    <ul>
      <li *ngFor="let review of restaurant.reviews">
        <restaurant-review review="{{ review }}"></restaurant-review>
      </li>
    </ul>
  </div>

  <div *ngIf="restaurant.reviews && restaurant.reviews.length === 0">
    <p>{{ 'restaurant.noreviews' | translate }}</p>
  </div>
</div>
